### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
java.io.PrintStream@23fc625e
*.csv
covid_data_small.json
log.txt
population.csv
properties_small.csv
population.csv
population.csv
activities.test.log.txt
covid_data.json
population.csv
properties_small.csv
small_test1.log
speed_test.log
src.zip
log_754.txt
